In [ ]:
import heapq

class PriorityQueue:
    def __init__(self):
        self._queue = []
        self._index = 0

    def push(self, item, priority):
        heapq.heappush(self._queue, (-priority, self._index, item))
        self._index += 1

    def pop(self):
        return heapq.heappop(self._queue)[-1]

class Item:
    def __init__(self, name):
        self.name = name
    def __repr__(self):
        return 'Item({!r})'.format(self.name)


q = PriorityQueue()
q.push(Item('ads'), 1)
q.push(Item('f'), 5)
q.push(Item('c'), 4)
q.push(Item('a'), 1)

print(q.pop()) 
print(q.pop()) 
print(q.pop()) 
print(q.pop())

Item('f')
Item('c')
Item('ads')
Item('a')

In [ ]:
from collections import OrderedDict
d = OrderedDict()
d['foo'] = 1
d['bar'] = 2
d['spam'] = 32
d['grok'] = 4

for key, value in d.items():
    print(key, value)

foo 1
bar 2
spam 32
grok 4

In [22]:
prices = {
'ACME': 45.23,
'AAPL': 612.78,
'IBM': 205.55,
'HPQ': 37.20,
'FB': 10.75
}

l = [x for x in zip(prices.keys(), prices.values())]
l

[('ACME', 45.23),
 ('AAPL', 612.78),
 ('IBM', 205.55),
 ('HPQ', 37.2),
 ('FB', 10.75)]

In [27]:
print(min(l, key = lambda x: [x for x in l]))

('ACME', 45.23)

In [28]:
type(prices.keys())

dict_keys

In [35]:
l = [1, 5, 2, 1, 9, 1, 5, 10]
l=set(l)
print(list(l))

[1, 2, 5, 9, 10]

In [40]:
items = [0, 1, 2, 3, 4, 5, 6]
a = slice(2, 5)
items[a]

[2, 3, 4]

In [44]:
from collections import Counter

words = [
'look', 'into', 'my', 'eyes', 'look', 'into', 'my', 'eyes',
'the', 'eyes', 'the', 'eyes', 'the', 'eyes', 'not', 'around', 'the',
'eyes', "don't", 'look', 'around', 'the', 'eyes', 'look', 'into',
'my', 'eyes', "you're", 'under'
]

count_tup = Counter(words)
count_tup.most_common(3)

[('eyes', 8), ('the', 5), ('look', 4)]

In [4]:
class User:
    def __init__(self, user_id):
        self.user_id = user_id
    def __repr__(self):
        return 'User({})'.format(self.user_id)

users = [User(23), User(3), User(99)]
print(users)
print(sorted(users, key=lambda u: u.user_id))

sorted(users, key = lambda u: u.user_id)

[User(23), User(3), User(99)]
[User(3), User(23), User(99)]

[User(3), User(23), User(99)]

In [1]:
from operator import itemgetter
from itertools import groupby

rows = [
    {'address': '5412 N CLARK', 'date': '07/01/2012'},
    {'address': '5148 N CLARK', 'date': '07/04/2012'},
    {'address': '5800 E 58TH', 'date': '07/02/2012'},
    {'address': '2122 N CLARK', 'date': '07/03/2012'},
    {'address': '5645 N RAVENSWOOD', 'date': '07/02/2012'},
    {'address': '1060 W ADDISON', 'date': '07/02/2012'},
    {'address': '4801 N BROADWAY', 'date': '07/01/2012'},
    {'address': '1039 W GRANVILLE', 'date': '07/04/2012'},
]

rows.sort(key=itemgetter('date'))

for date, items in groupby(rows, key=itemgetter('address')):
    print(date)
    for i in items:
        print(' ', i)

5412 N CLARK
  {'address': '5412 N CLARK', 'date': '07/01/2012'}
4801 N BROADWAY
  {'address': '4801 N BROADWAY', 'date': '07/01/2012'}
5800 E 58TH
  {'address': '5800 E 58TH', 'date': '07/02/2012'}
5645 N RAVENSWOOD
  {'address': '5645 N RAVENSWOOD', 'date': '07/02/2012'}
1060 W ADDISON
  {'address': '1060 W ADDISON', 'date': '07/02/2012'}
2122 N CLARK
  {'address': '2122 N CLARK', 'date': '07/03/2012'}
5148 N CLARK
  {'address': '5148 N CLARK', 'date': '07/04/2012'}
1039 W GRANVILLE
  {'address': '1039 W GRANVILLE', 'date': '07/04/2012'}

In [5]:
addresses = [
'5412 N CLARK',
'5148 N CLARK',
'5800 E 58TH',
'2122 N CLARK'
'5645 N RAVENSWOOD',
'1060 W ADDISON',
'4801 N BROADWAY',
'1039 W GRANVILLE',
]

[x for x in addresses if len(x)>19]

['2122 N CLARK5645 N RAVENSWOOD']

In [8]:
# FILTERING THE MAP

prices = {
'ACME': 45.23,
'AAPL': 612.78,
'IBM': 205.55,
'HPQ': 37.20,
'FB': 10.75
}

P1 = {
    k:v for k, v in prices.items() if k == 'AAPL'
}
P1

{'AAPL': 612.78}

In [22]:
from collections import namedtuple

sub = namedtuple("hello", ["addr", "ant"])
n = sub(addr="haseeb", ant="kjan")
print(n.addr)
print(n.ant)

haseeb
kjan

In [28]:
from collections import ChainMap
a = {'x': 1, 'z': 3 }
b = {'y': 2, 'z': 4 }
mer = ChainMap(a,b)
print(mer)

for x,y in mer.items():
    print(x, y)

ChainMap({'x': 1, 'z': 3}, {'y': 2, 'z': 4})
y 2
z 3
x 1