In [14]:
import pandas as pd
import numpy as np

df = pd.read_csv('retail_data.csv')

In [15]:
df[df.columns].isnull().sum()
missing= df.isnull().sum() * 100/len(df)
missing

Customer_ID          0.0
Age                  0.0
Annual_Income       25.0
City                10.0
Mixed_ID             0.0
Transaction_Date     0.0
Spending_Score       0.0
dtype: float64

In [16]:
df['City'].unique()

array(['New York', nan, 'Dubai', 'London', 'Paris', 'Tokyo'], dtype=object)

In [21]:
val_bef = df['City'].value_counts(normalize=True)
val_aft = df.dropna(subset=['City'])['City'].value_counts(normalize=True)

s = val_bef.isnull().sum()
print(s)
print('Before:\n', val_bef)
print('\nAfter:\n', val_aft)

0
Before:
 City
Dubai       0.238889
New York    0.233333
London      0.194444
Tokyo       0.177778
Paris       0.155556
Name: proportion, dtype: float64

After:
 City
Dubai       0.238889
New York    0.233333
London      0.194444
Tokyo       0.177778
Paris       0.155556
Name: proportion, dtype: float64

In [27]:
df['Annual_Income'].std()
df['Annual_Income'].fillna(df["Annual_Income"].mean())

0      66944.035593
1      87501.712418
2      66944.035593
3      80614.377811
4      42274.617116
           ...
195    26324.549797
196    26251.311600
197    66944.035593
198    88529.885880
199    63777.688860
Name: Annual_Income, Length: 200, dtype: float64

In [38]:
mod = df['City'].mode()[0]
df['City'] = df['City'].fillna(mod)